# === OS ===
.DS_Store
Thumbs.db

# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
*.ipr

# === Gradle ===
.gradle/
build/
out/

# === Kotlin ===
*.class
.kotlin/

# === Artifacts ===
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# === Logs ===
*.log
hs_err_pid*
replay_pid*

# === Others ===
*.db
*.db-journal
*.h2.db

# === VSCode ===
.vscode/
